@charset "UTF-8";
.selectpick_div {
    /*background-color: #fff;
    font-size: .6rem;
    font-weight: 500;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 1px #cfcfcf;
    line-height: 30px;
    text-align: center;
    padding-left: 5px;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;*/
    z-index: 9060
}

.selectpick_icon {
    float: right;
    background: url(../images/icon.png) no-repeat center;
    margin-right: 5px;
    height: 30px;
    width: 9px;
    cursor: pointer
}

.selectpick_div:hover {
    background-color: #f5f5f5;
    border: solid 1px #ccc
}

.selectpick_div:active {
    -moz-box-shadow: 0 0 3px purple;
    -webkit-box-shadow: 0 0 3px purple;
    box-shadow: 0 0 3px purple;
    border: solid 1px purple
}

.selectpick_options {
    width: 100%;
    border: solid 1px #cfcfcf;
    border-bottom: 0;
    position: absolute;
    z-index: 9060;
    font-size: 13.5px;
    text-align: center;
    display: none
}

.selectpick_options ul {
    list-style: none;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: 9060;
    font-size: 13.5px
}

.selectpick_options ul li {
    border-bottom: solid 1px #cfcfcf;
    padding-left: 5px;
    display: block;
    font-size: 13.5px;
    z-index: 9060;
    background-color: #fff
}

.selectpick_options li:hover {
    background-color: purple;
    color: #fff
}

.selectpick_options ul li.selectpick_options_selected {
    background-color: purple;
    color: #fff;
    z-index: 9060
}

.selectpick_no_select {
    cursor: default;
    color: #9a9898;
    background-color: #f5f5f5
}

.select_hide {
    display: none;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-opacity: 0;
    filter: alpha(opacity=0)
}

.selectpick_options li {
    cursor: pointer
}

.selectpick_options li label {
    cursor: pointer
}

.selectpick_div_box {
    width: 100%;
    margin: 0 5px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    position: relative
}